[Unit]
Description=HomeHarbor control plane
Requires=homeharbor-selinux-ready.target valkey.service
RequiresMountsFor=/var/lib/homeharbor
After=homeharbor-selinux-ready.target network-online.target homeharbor-storage-apply.service valkey.service
Wants=network-online.target homeharbor-caddy-render.service homeharbor-smb-apply.service homeharbor-container-apply.service

[Service]
Type=simple
User=homeharbor
Group=homeharbor
SupplementaryGroups=homeharbor-api valkey
WorkingDirectory=/usr/lib/homeharbor/api
Environment=HomeHarbor__Api__UnixSocketPath=/run/homeharbor-api/api.sock
Environment=HOMEHARBOR_VERSION=0.1.0
Environment=HOMEHARBOR_CHANNEL=dev
UMask=0007
ExecStartPre=+/usr/bin/chgrp homeharbor-api /run/homeharbor-api
ExecStartPre=+/usr/lib/homeharbor/agent/HomeHarbor.Agent firstboot
ExecStart=/usr/lib/homeharbor/api/HomeHarbor.Api
Restart=always
RestartSec=3
NoNewPrivileges=true
ProtectSystem=strict
ReadWritePaths=/var/lib/homeharbor /homeharbor-data /run/homeharbor /run/homeharbor-api /run/homeharbor-smb-credentials

[Install]
WantedBy=multi-user.target
